/*used bootstrap*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
   
}
.wrap{
    width:100%;
    overflow-x: hidden;
}
.thin__bar{
    border-top: 5px solid orangered;
    height: 180px;
    background-color: #d4d4d4;
}
.about{
    height: 100vh;
    width:100%;
}
.about img{
    position: relative;
    width: 200px;
    height: 200px;
    bottom: 7.5em;
}
.name{
    font-size: 50px;
    font-weight: bold;
    color: #778899;
}
.detail{
    width: 80vw;
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto;
    padding-bottom: 30px;
}
.row .col{
    padding: 20px;
}
.git-linkedin{
   margin-top: 20px;
}
.git-linkedin a{
    margin: 0 20px;
}
.about a{
    padding: 10px 25px 10px 25px;
    border: 2px solid  orangered;
    text-decoration-style: none;
    border-radius: 20px;
}
.about a:hover{
    text-decoration: none;
    background-color: orangered;
}
/*
 experience 
 */
.experience{
    height: 100vh;
    width: 100%;
    background-color: #4c6d86;
    padding: 6em 4em 5.6em;
}
.experience h2{
    font-weight: bolder;
    padding: 3rem 0;
    color: white;
}
.experience h3{
    font-weight: bold;
    color: white;
}
/*
Course
*/
.courses {
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
}

/*
footer
*/
.footer{
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 103, 68, 0.91);
    color: white;
    padding: 3rem;
}