* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
/*  general container */
.container{
    margin: 0 0;
    padding: 0 0;
    width: 100vw;
}

/* aboutMe section*/
.aboutMe{
    text-align: center;
    padding-bottom: 3em;
    height: 100%;
}
.profile__photo{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.photo__frame{
    text-align: center;
    position: absolute;
    left: 43%; 
    top: 10%;
}
.smaller__bar{
    margin: 0;
    height: 5px;
    width: 100%;
    background-color: orangered;
}
.bigger__bar{
    margin: 0;
    height: 170px;
    width: 100vw;
    background-color: #E8E8E8;
}

.aboutMe__body{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    justify-content: center;
}
.title{
    font-size: 50px;
    font-weight: bolder;
    color: 	#585858;
    margin-bottom: 15px;
}
.paragraph{
    width: 790px;
    font-size: 22px;
    font-weight: 500;
    color: black;
    align-self: center;
    line-height: 1.5;
}

/*Experience*/

.experience{
    background-color: #4c6d86;
    padding: 6rem 5rem 6rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}
.experience__header{
    align-self: center;
    padding-bottom: 2rem;
}
.experience__title {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}
.titles{
    color: white;
}
.experience__body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.experience__list{
    padding: .5rem 0;
}
.experience__list li{
    list-style-type: none;
    text-align: center;
    color: #bbd2ff;
    font-family: "Maven pro", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: .2rem;
}

/* projects section */
.projects{
    background-color: #fff;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}
.projects__header{
    text-align: center;
    padding: 3rem 0;
}
.projects__title{
    color: orangered;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 1.5rem;
}
.projects__header p{
    font-size: 1.4em;
    color:  #767779;
}
.project h3{
    color: #738182;
	text-transform: uppercase;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 1.2rem;
}
.project__header{
    border-right: 3px solid  orangered;
    padding: 2rem;
}
.project__body{
    width: 800px;
    padding: 1em;
}
.project__body p{
    color: orange;
    font-family: "Maven pro", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: .2rem;
}
.project__body ul{
    padding-left: 2rem;
    color: orange;
}
.project__body ul li{
    list-style: circle outside;
}

/* Courses taken at school */
.courses{
    background-color: #E8E8E8;
    height: 100vh;
}
.course__title{
    padding-top: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

/* footer */
.footer{
    height: 100px;
    width: 100%;
    background-color: rgba(255, 103, 68, 0.91);
    text-align: center;
}

.footer p{
    color: white;
	font-family: "Maven pro", sans-serif;
    font-weight: 600;
    padding: 2rem 0;
}


/* responsive */
@media only screen and (max-width: 450px){  /* mobile size */
    /* section aboutMe */
    .aboutMe, .experience, .projects{
        height: 100vh;
    }
    .photo__frame{
        left: 33vw;
        top: 13%;
    }
    .profile__photo{
        height: 150px;
        width: 150px;
    }
    .aboutMe__body{
        margin-top: 100px;
    }

    .paragraph{
        width: 90vw;
        font-size: 18px;
        padding: 2rem
    }

    .title{
        font-size: 40px;
    }
    /* Experience */
    .experience{
        height: 100vh;
        padding: 1.2rem 3rem;
    }

    .titles{
        text-align: center;
    }
    .experience__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*projects*/
    .project{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .project__header p{
        font-size: 10px;
    }
    .project__header {
        padding: 1rem;
    }
    .project__body{
        width: 90vw;
        font-size: 14px;
        padding: 0 1.2rem;
    }
}